/* GLOBAL STYLES */

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  h1, h2, h3, h4 {
    font-weight: bold;
  }

  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 18px;
  }

  p {
    font-size: 18px;
    font-weight: normal;
  }
}

section {
  width: 70%;
  margin-bottom: 2vh;

  h3 {
    margin: 1vh 0;
  }
  h4 {
    margin-top: 1vh;
    margin-bottom: 0.5vh;
  }

  p {
    margin-left: 2vw;
    margin-bottom: 1.5vh;
  }
}

code {
    background-color: #FFDCDB;
    color: #8B0000;
    padding: 2px;
    font-size: 14px;
    border-radius: 5px;
}

/* COMPONENT STYLES */

.image-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1vh;
  padding-top: 1vh;
  background-color: #FFDCDB;
  border-radius: 20px;

  column-gap: normal;
  height: auto;

  .image-card {
    width: 50%;
    height: 100%;
  }

}

.image-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .caption {
    padding: 0;
    margin-left: 0;
    margin-top: 0.25vh;
    margin-bottom: 0.5vh;
    font-size: 16px;
  }

  img {
    width: 90%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 20px;
    object-position: center;
  }

  .bot-align {
    object-position: bottom;
  }

  .no-square {
    aspect-ratio: auto;
  }
}

/* SECTION STYLES */

#title {
  width: 100%;
  min-height: 40vh;
  margin-bottom: 1vh;

  background-color: #FFDCDB;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  img {
    /* max-width: 70%; */
    margin-top: 1.5vh;
    max-height: 90%;
  }
}
